html {
    height: 100%;
    background: url(../img/bg.png) no-repeat center center fixed; 
    background-size: cover;
    background-color: #000000;
    overflow: hidden;
}

.center-container {
    padding-top: 5%;
    padding-bottom: 5%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.text-center {
    position: fixed;
    width: 20%;
    font-size: 33pt;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 3px #000000;
    word-wrap: break-word;
    z-index: 1;
    overflow-y: scroll;
    top: 0; bottom: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.text-center::-webkit-scrollbar {
    display: none;
}

.text-mekano {
    height: 50%;
    z-index: 0;
    position: absolute;
    top: 0;
    mix-blend-mode: exclusion;
    animation: MEKANO linear 10s infinite;
}

.text-world {
    height: 50%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    mix-blend-mode: exclusion;
    animation: WORLD linear 10s infinite;
}

@keyframes MEKANO {
    0% { right: 100% }
    100% { right: -100% }
}

@keyframes WORLD {
    0% { left: 100% }
    100% { left: -100% }
}
